<html>
    <head>
        <title>NoThingIsMe blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">NoThingIsMe Blog</a></h1>
        </div>

        <div>
            <p>published: 03.04.2024, 10:43</p>
            <h2><a href="">My first post</a></h2>
            <p>2024년 2학기 클라우드 컴퓨팅 과제 3</p>
        </div>

        <div>
            <p>published: 03.04.2024, 10:44</p>
            <h2><a href="">My second post</a></h2>
            <p>장고를 가지고 내 블로그 사이트를 만들어 보는 과제를 했다~ 신기하다~</p>
        </div>
    </body>
</html>